.jumbo {
	background-color: white;
	background-position: center;
	border-color: purple;

}

body {
	background-image: url(../images/bg.jpeg)
}

panel-default{
	opacity: .7px;
}
.wrap {
	opacity: .5px;
}